.container {
  /* outline: 3px solid red; */
  width: 1360px;
  height: 100%;
  margin: 0 auto;
  overflow: hidden;
  margin-top: 270px; 
}


.home__info {
  display: flex;
  margin-top: 45px;
  height: 300px;
  width: 100%;
  flex-direction: column;
  /* outline: 3px solid orange; */
}

.home__figure {
  height: 300px;
  width: 300px;
  position: relative;
  bottom: 40%;
  left: 35%;
  /* outline: 3px solid red; */
}

.home__svg {
  width: 100%;
  opacity: 0.35;
  z-index: 0;
}

.home__description {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 28px;
  text-align: center;

  margin-top: 35px;
  /* outline: 3px solid red; */

  /* width: 100%; */
  z-index: 1;
}

 .btn__infoMensaje {
  display: flex !important;
  justify-content: center;
  align-items: center;
  width: 227px !important;
  height: 36px !important;
  background: #177f77 !important;
  border-radius: 50px !important;
  border: none !important;
} 

@media (min-width: 768px) {
 

  .home__info {
    margin-top: 250px;
  }
}

@media (max-width: 800px) {
  .container {
    width: auto;
    margin-top: 150px;
  }

  .home__description {
    font-size: 13px;
    margin-top: -40px;
    line-height: 18px;
    font-weight: 500;
  }
  .home__figure {
    width: 200px;
    height: 190px;
    position: relative;
    bottom: 55%;
    left: 30%;
  }
  .home__info{
    margin-bottom: 0;
    height: 280px;
  }
  
}
