.container{
    /* outline: 3px solid red; */
    width: 1360px;
    height: 100%;
    margin: 0 auto;
    overflow: hidden;
}



.home__info{
    display: flex;
    margin-top: 55px;
    height: 300px;
    width: 100%;
    margin-bottom: 150px;
    flex-direction: column;
    /* outline: 3px solid orange; */
   
}

.home__figure{
    height: 300px;
    width: 300px;
    position: relative;
    bottom: 40%;
    left: 35%;
    /* outline: 3px solid red; */
}

.home__svg{
    width: 100%;
    opacity: 0.35;
    z-index: 0;

} 

.home__description{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 28px;
    text-align: center;
   
    margin-top: 10px;
    /* outline: 3px solid red; */

    /* width: 100%; */
    z-index: 1;

 
}

.swal2-confirm{
    display: flex !important;
    justify-content: center;
    align-items: center;
width: 227px !important;
height: 36px !important;
background: #177F77 !important;
border-radius: 50px !important;
border: none !important;
  }
