.item__container{
    /* outline: 3px solid red; */
    width: 90%;
    height: 200px;
    max-height: 140px;
    display: flex;
    align-items: center;
    margin-bottom: 5px;
    

}
.Mobile__Cart{
    display: flex;
}

.item__figure{
    /* outline: 3px solid orange; */
    width: 25%;
    height: 86%;
}
.notification {
  background-color: #f44336;
  color: #fff;
  padding: 10px;
  margin-top: 10px;
}

.item__img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.item__description{
    /* outline: 3px solid orange; */
    display: flex;
    align-items: center;
    padding: 10px; 
    margin-left: 30px;
    width: 25%; 
}

.item__text{
    font-size: 14px;
    font-weight: 500;
    line-height: 17px;
}


.item__quantity{
    margin: 0 60px;
    /* outline: 3px solid orange; */
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px; 
    margin-left: 30px;
    width: 15%; 
}

.item__quantity--minus{
    margin: 10px;
    font-size: 2rem;
    /* outline: 3px solid orange; */

}

.item__quantity--text{
    width:40px;
    height:40px;
    font-size: 2.3rem;
    margin-left: 23px;
    margin-right: 15px;
    font-weight: 500;
    
}
.item__quantity--plus{
    width:300px;
    margin-left: 20px;
    /* outline: 3px solid orange; */  
}

.item__delete{
    /* outline: 3px solid orange; */
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    padding: 8px; 
    margin-left: 30px;
    width: 15%; 
    justify-content: end;
    align-items: start;
}

.border{
    border: 40px solid black !important;
    height: 50px;
    width: 100%;
    margin-bottom: 15px;
}
.hr{
    background: rgb(0,0,0);
    background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(255,255,255,1) 100%); 
    width: 100%;
    height: 2px;
    margin-bottom: 5px;
}
@media (max-width: 767px) {
.Mobile__Cart{
    display: flex;
    flex-direction: column;
    width: 50px;
    height: 30px;

}
.item__figure{
    width: 50px;
    height: 50px;
    margin-left: 18px;
}
.item__description p{
    font-size: 10px;
    
}
.item__description{
    margin-left: 0px;
    width:80vw;
    margin: 0;
}
.item__quantity p{
    font-size: 20px;
    margin-top: 6px;
    margin-left: 6px;
   
}
.item__quantity{
    width: 100%;
    margin-left: 45px;
    
}
.item__quantity--text{
    width: 100%;
    height: 20px;
    margin-left: 0;
    margin-right: 0;
    font-weight: 500;
}
.item__container{
    margin-bottom: 0px;
    align-items: center;
    
}

}