.item__container{
    /* outline: 3px solid red; */
    width: 100%;
    height: 158px;
    max-height: 158px;
    display: flex;
    margin-bottom: 5px;
    

}

.item__figure{
    /* outline: 3px solid orange; */
    width: 15%;
    height: 100%;
}

.item__img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.item__description{
    /* outline: 3px solid orange; */
    display: flex;
    align-items: center;
    padding: 10px; 
    margin-left: 30px;
    width: 25%; 
}

.item__text{
    font-size: 14px;
    font-weight: 500;
    line-height: 17px;
}


.item__quantity{
    margin: 0 60px;
    /* outline: 3px solid orange; */
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px; 
    margin-left: 30px;
    width: 15%; 
}

.item__quantity--minus{
    margin: 10px;
    font-size: 2rem;
    /* outline: 3px solid orange; */

}

.item__quantity--text{
    width:40px;
    height:40px;
    font-size: 2.5rem;
    margin-left: 23px;
    margin-right: 15px;
    margin-top: px;
}
.item__quantity--plus{
    width:300px;
    margin-left: 20px;
    /* outline: 3px solid orange; */  
}

.item__delete{
    /* outline: 3px solid orange; */
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    padding: 8px; 
    margin-left: 30px;
    width: 15%; 
    justify-content: end;
    align-items: start;
}

.border{
    border: 40px solid black !important;
    height: 50px;
    width: 100%;
    margin-bottom: 15px;
}
.hr{
    background: rgb(0,0,0);
    background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(255,255,255,1) 100%); 
    width: 70%;
    height: 2px;
    margin-bottom: 5px;
}