.products__container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: minmax(30px, auto);
  min-height: 90vh;
  justify-content: center;
  align-content: space-between;
  align-items: baseline;
  justify-items: center;
}

.card__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 0px;
  height: 350px;
  width: 300px;
  border-radius: 15px;
  margin-bottom: 25px;
  background: #f6f6f6;
}

.card__header {
  height: 304px;
  width: 100%;
  margin-top: 5px;
}

.card__figure--product {
  width: 100%;
  height: 100%;
}

.card__img--product {
  border-radius: 15px;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.card__img--product:hover {
  opacity: 60%;
}

.card__figure--footer {
  cursor: pointer;
  position: absolute;
  right: 6%;

}

.card__figure--info {
  position: relative;
  bottom: 100%;
  left: 88%;
  cursor: pointer;
}

.card__footer {
  height: 25%;
  width: 100%;
  display: flex;
  align-items: center;
  position: relative;
}

.card__title {
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 0px;
  margin-left: 20px;
  width: 65%;
}

.card__img--info:hover {
  color: #177f77;
}

@media (max-width: 767px) {
  
  .card__container {
    display: flex;
    width: 45%;
    height: 250px;
    align-content: center;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 0px 15px 0 0;
  }

  .card__header {
    height: auto;
    width: 100%;
    margin-top: 5px;
  }

  .card__figure--footer {
    position: absolute;
    right: 6%;
    top: 38%;
  }

  .card__figure--info {
    position: relative;
    left: 75%;
    width: 20px;
  
  }

  .card__img--product {
    max-height: 180px;
  }

  .card__title {
    font-size: 12px;
  }
  .card__footer {
    height: 35%;
    width: 100%;
    display: flex;
    align-items: center;
    position: relative;
  }
}
