.modal__fondo {
  width: 100vw;
  height: 100vh;
  position: fixed;
  background: rgba(0, 0, 0, 0.5);
  padding: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}



.modal__product-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #e8e8e8;
  background-color: #a5cdca;
  position: absolute;
  top: -42px;
  height: 42px;
  width: 405px;
  border-radius: 9px;
  /* outline: 3px solid red; */
}

.modal__product-title {
  text-align: center;
  font-weight: 500;
  font-size: 1rem;
  margin-top: 25px;
  margin-left: 20px;
}

.modal__product-close {
  width: 30px;
  height: 30px;
  cursor: pointer;
  border: none;
  transition: 0.3 ease all;
  border-radius: 5px;
  color: #177f77;
  margin-top: 5px;
  margin-right: 3px;
}


.modal__product-detail {
  max-width: 1400px;
  display: flex;

}

.modal__product-body {
  display: flex;
  /* outline: 3px solid red; */
}

.body__title--description, .body__title--use {
  font-weight: 600;
  font-size: 32px;
  line-height: 38px;
  
}

.body__description,.body__use {
    display: flex;
    flex-direction: column;
  /* outline: 3px solid blue; */
  margin: 40px 20px;
  width: 404px;
  height: 697px;
  font-size: 24px;
  font-weight: 400px;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  justify-content: center;
}

.body__figure {
  /* outline: 3px solid blue; */
  width: 582px;
  height: 698px;
}

.body__img {
  width: 100%;
  height: 100%;
  border-radius: 5px;
}

.body__use {
display: flex;
flex-direction: column;
/* outline: 3px solid green; */

/* justify-content: center; */
}

.body__use--description{
  /* outline: 2px solid red; */
  
}

.btn__carrito{
    justify-self: flex-end;
   
}

.btn__input{
    width: 291px;
height: 56px;
background: #177F77;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 16px;
font-size: 20px;
line-height: 23px;
}