::-webkit-scrollbar {
  display: none;
}
.modal__cart{
  position: fixed;
  left: 43% !important;
  top:25%
}

.cart_content{

  right: 34%;
}



.item__quantity svg{
  font-size: 25px;
}
.cart__header {
  display: flex;
  justify-content: center !important;
  border-bottom: none !important;
  /* outline: 3px solid red; */
}

.cart__header > p {
  margin-top: 15px;
}

.modal__cart {
  max-width: 845px !important;

  position: relative;
  left: 29%;
  /* outline: 3px solid red; */
}

.cart__body {
  /* outline: 3px solid red; */
  display: flex;
  flex-direction: column;
  overflow-x: scroll;
  
}

.cart__productMessage{
  font-weight: bold;
  text-align: center;
}

.cart__btns {
  /* outline: 3px solid red; */
  display: flex;
  justify-content: center;
  width: 100%;
  margin-bottom: 20px;
}

.cart__continue, .cart__continue--disabled {
  width: 216px;
  height: 36px;
  background: #177f77;
  border-radius: 50px;
  color: #fff;
  border: none;
  margin-left: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

.cart__clear, .cart__clear--disabled{
  width: 170px;
  height: 36px;
  background: #ffffff;
  border: 1px solid #177f77;
  border-radius: 50px;
  color: #177f77;
}

.cart__continue--disabled, .cart__clear--disabled{
  opacity: 60%;
}

@media (max-width: 768px) {
  .cart__container {
    /* right: 20% !important; */
    /* left: 56% !important; */
    top: 15% !important;
    /* min-width: 720px !important; */
    width: 100% !important;
    /* height: 70% !important; */
    padding: 0 !important;
    --bs-modal-width: 100% !important;
    /* border: 3px solid blue; */
    
  }
  .cart__btns{
    width: auto;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 45px;
  }
  .cart__clear--disabled{
    margin-left: 12px;
    margin-right: 15px;
    font-size: 12px;
  }
  .cart__continue{
    margin-left: 12px;
    margin-right: 15px;
    font-size: 12px;
    
  }
  .modal__cart{
    left: 0% !important;
    top:0%;
  }

  .cart_content{
    right: 0%;
  }
}