.modal__navDialog{
    position: relative;
    top: 11%;
    left: 0% !important;
    margin: 0 !important;
}

.modal__navContent{
    width: 90% !important;
}

.menu__header{
display: flex;
justify-content: center !important;
align-items: center;
border-bottom: 2px solid #000;
}

.menu__title {
    font-weight: bold;
    margin-top: 5px;
    margin-bottom: -5px;
}


  
.navMobile__ul {
    display: flex;
    flex-direction: column;
    margin-left: -32px;
} 

.navMobile__li{
    margin: 8px 0;
    list-style: none;
    display: flex;
    position: relative;
}

.navMobile__li a{
    text-decoration: none;
    color: #000;
}

.navMobile__item{
    display: flex;
    justify-content: space-between;
    /* outline: 3px solid orange; */
    flex-wrap: nowrap;
    position: relative;
    width: 80vw;
    margin-bottom: 10px;
   

}

.navMobile__link{
    /* border: 3px solid blueviolet; */
    width: 90%;
}

.navMobile__cat{
    /* min-width: 92%; */
    height: 90%;
    /* outline: 3px solid black; */
}

.navMobile__Subcat{
    font-weight: 600;
    /* outline: 5px solid red; */
    position: absolute;
    
    
}

.navMobile__itemIcon{
    font-size: 35px !important;
    position: relative;
    top: -5px;
 }

/* .navMobile__itemIcon:hover{
   color: #177f77;
} */




button{
    /* outline: 3px solid blue; */
    border: none;
    background-color: #fff;
}


.cat__container{
    display: flex;
    flex-direction: column;
    /* outline: 3px solid blue; */
    height: auto;
   
}



.navMobile__sub-ul{
     /* outline: 3px solid green; */

     
     top: -2vh;
    margin: 0;
    right: 300px;
    margin-left: 10px;
     display: none;
    flex-direction: column;
   position: relative;
   
   right:86vw;
   padding: 0;
   margin-left: 8vw;
  
   height: 100%;

    margin-top: 10vh;  

}

.navMobile__sub-li{
    /* outline: 3px solid blue; */
   width: 200px;
   height: 30px;
   padding: 0;
   margin-top: 0;
   margin-bottom: 20px;
   
}

 
