.catalog__container a{
    display: flex;
    flex-direction: column;
    align-items: center;
}


.btn__catalog{
    position: fixed;
    bottom: 70px;
    right: 15px;
    z-index: 100;
    color: white;
    background-color: #5e1ab3;
    box-shadow: 0 0 6px rgba(0,0,0,0.3);
    border-radius: 50%;
}

.btn__catalog:hover{
    background-color: #6c14d8;
 
}

.catalog__icon{
    padding: 5px;
    font-size: 2.5rem !important;
}

.catalog__title{
    height: 1vh;
    color: #fff;
    font-weight: bold;
    font-size: .5rem;
    width: 9vh;
    text-align: center;
    margin-top: -10px;
}


@media (max-width: 767px) {
    .catalog__container a{
        width: 49px;
        height: 49px;
    }
    
}  
