.header {
  width: 100%;
  height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 24px;
  font-weight: 500;
}

.header__container {
  width: 100%;
  height: 210px;
  display: flex;
  align-items: baseline;
  flex-direction: row;
  align-content: space-between;
  justify-content: space-around;
}

.header__figure {
  width: 272px;
  height: 136px;
  margin: 20px;
}

.header__img {
  width: 100%;
}

.header__cart {
  height: 80px;
  width: 30px;
  align-items: flex-end;
  padding-bottom: 30px;
}

.header__nav {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header__ul {
  display: flex;
  list-style: none;
  
}

.header__li {
  margin: 0 40px;
  position: relative;
  cursor: pointer;
  

}

.header__li.active {
  border-bottom: 2px solid green;
}

.header__sub-ul {
  display: none;
  position: absolute;
  top: calc(100% + 1px);
  left: 50%;
  transform: translateX(-50%);
  background-color: #fff;
  list-style: none;

  font-size: 16px;
  z-index: 1;
  width: 100%;
  max-width: 100%;
  padding: 1px;
}

.header__li:hover > .header__sub-ul {
  display: block;
  pointer-events: auto;
}

.header__sub-li a:hover {
  color: green;
}

.header__li > a {
  text-decoration: none;
  color: inherit;
  display: inline-block;
  margin: 5px;
}

.header__sub-ul li {
  cursor: pointer;
  font-size: 20px;
}

.header__sub-ul li:hover {
  color: inherit;
}

.header__ul,
.header__sub-ul {
  padding: 0;
  margin: 0;
}
.header__li:hover:not(.active) {
  border-bottom: 2px solid green;
}
.header__li > a,
.header__sub-ul li a {
  list-style: none;
  text-decoration: none;
  color: inherit;
}
