.header {
  width: 100%;
  height: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 20px;
  font-weight: 500;
  position: fixed;
  top: 0px;
  z-index: 100;
  background-color: #fff;
}



.header__menu {
  display: none;
}

.header__container {
  width: 100%;
  height: 160px;
  display: flex;
  align-items: baseline;
  flex-direction: row;
  justify-content: center;
  position: relative;
  
}
.divOut {
  width: 25vh;
}

.header__cart {
  position: absolute;
  right: 6%;
  top: 46%;
}


.header__cart-indicator {
  position: absolute;
  top: 21px;
  right: 5px;
  width: 10px;
  height: 10px;
  background-color: #ff0000;
  border: 1px solid #000;
  border-radius: 50%;
  cursor: pointer;
}
.header__cart-icon:hover {
  cursor: pointer;
}

.header__figure {
  width: 272px;
  height: 136px;
  margin: 20px;
}

.header__img {
  width: 100%;
}

.header__cart {
  display: flex;
  height: 80px;
  width: 30px;
  align-items: flex-end;
  padding-bottom: 30px;
}

.header__nav {
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.header__ul {
  display: flex;
  list-style: none;
}

.header__li {
  margin: 0 20px;
  position: relative;
  cursor: pointer;
  height: 45px;

  display: inline-block; 
  position: relative; 
  padding: 3px 10px 3px 0;
  z-index: 100;
}

.header__li.active {
  border-bottom: 2px solid green;
}

.header__sub-ul {
  display: none;
  position: absolute;
  top: calc(100% + 1px);
  left: 50%;
  transform: translateX(-50%);
  background-color: #fff;
  list-style: none;

  font-size: 16px;
  z-index: 100;
  width: 100%;
  max-width: 100%;
  padding: 1px;

 
}

.header__li:hover > .header__sub-ul {
  display: block;
  pointer-events: auto;
}

.header__sub-li a:hover {
  color: green;
}

.header__li > a {
  text-decoration: none;
  color: inherit;
  display: inline-block;
  margin: 5px;
}

.header__sub-ul li {
  cursor: pointer;
  font-size: 20px;
}

.header__sub-ul li:hover {
  color: inherit;
}


.header__sub-ul {
  padding: 0;
  margin: 0;
}
.header__li:hover:not(.active) {
  border-bottom: 2px solid green;
}
.header__li > a,
.header__sub-ul li a {
  list-style: none;
  text-decoration: none;
  color: inherit;
}

.productCount__container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  position: relative;
  bottom: 50px;
  left: 28px;
  border-radius: 50px;
}
.nav__header1{
  width: 100%;
}
@media (max-width: 820px) {
  .header{
    height: 115px;
  }
  .header__figure {
    width: 125px;
    height: 60px;
  }

  .header__menu {
    display: block;
    position: relative;
    top: 22px;
    
  }
  
  .header__container {
    position: static;
    justify-content: space-evenly;
  }

  .header__cart {
    width: 30px ;
    height: 30px;
    display: block;
    position: relative;
    top: 20px;
    right: 1px;
  }
  .nav__header1{
    display: none;
  }
  .header__cart-indicator{
    position: relative;
    width: 8px;
    height: 8px;
    top: -26px;
    right: -15px;
    border: 1px solid #000;
  }
  .header__hamburgueza{
    font-size: 25px !important;
  }
}

